<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- 此标签专门用来为Tomcat服务器配置Servlet程序-->
    <servlet>
        <!-- 起一个别名 -->
        <servlet-name>HelloServlet</servlet-name>
        <!-- 程序全类名 -->
        <servlet-class>com.aidan.servlet.HelloServlet</servlet-class>
    </servlet>

    <!-- 给程序配置一个访问地址 -->
    <servlet-mapping>
        <!-- 声明当前地址给哪个程序用 -->
        <servlet-name>HelloServlet</servlet-name>
        <!-- 配置访问地址
             / 斜杠表示在使用的工程路径
             /hello 地址分支
             http://ip:port/工程路径/hello
             -->
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HttpHelloServlet</servlet-name>
        <servlet-class>com.aidan.servlet.HttpHelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>HttpHelloServlet</servlet-name>
        <url-pattern>/hello2</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>com.aidan.servlet.Servlet1</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/s1</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>com.aidan.servlet.Servlet2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/s2</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Response</servlet-name>
        <servlet-class>com.aidan.servlet.Response</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Response</servlet-name>
        <url-pattern>/r1</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>Response2</servlet-name>
        <servlet-class>com.aidan.servlet.Response2</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Response2</servlet-name>
        <url-pattern>/r2</url-pattern>
    </servlet-mapping>


<!--    <servlet>
        <servlet-name>upload</servlet-name>
        <servlet-class>com.aidan.servlet.UploadServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>upload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>-->


    <servlet>
        <servlet-name>download</servlet-name>
        <servlet-class>com.aidan.servlet.Download</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>download</servlet-name>
        <url-pattern>/download</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>cookieServlet</servlet-name>
        <servlet-class>com.aidan.servlet.CookieServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>cookieServlet</servlet-name>
        <url-pattern>/cookieServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>com.aidan.servlet.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>sessionServlet</servlet-name>
        <servlet-class>com.aidan.servlet.SessionServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>sessionServlet</servlet-name>
        <url-pattern>/sessionServlet</url-pattern>
    </servlet-mapping>


    <filter>
        <!-- 起一个Filter的别名 -->
        <filter-name>AdminFilter</filter-name>
        <!-- 引入类名 -->
        <filter-class>com.aidan.filter.AdminFilter</filter-class>
    </filter>
    <!-- 使用filter-mapping设置拦截路径 -->
    <filter-mapping>
        <!-- 声明当前路径给那个Filter过滤器使用 -->
        <filter-name>AdminFilter</filter-name>
        <!-- 配置拦截路径
             表示请求地址为：http://ip:port/Project/web/
         -->
        <url-pattern>/imgs/*</url-pattern>
        <!-- 表示没登陆的用户不能访问imgs文件夹下的内容 -->
    </filter-mapping>


    <servlet>
        <servlet-name>ajaxServlet</servlet-name>
        <servlet-class>com.aidan.servlet.AjaxServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ajaxServlet</servlet-name>
        <url-pattern>/ajaxServlet</url-pattern>
    </servlet-mapping>

</web-app>